body {
    background: #282828;
    color: #3500d3;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Amatic SC', cursive; */
}

.gridContainer {
    display: grid;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    /* grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto .98fr auto; */
    grid-template-rows: auto 50rem auto;
    min-height: 99vh;
    margin: -.5rem;
    position: relative;
}

.music {
    grid-area: main;
    position: absolute;
    left: 42%;
    top: 42%;
    z-index: 2;
    color: White;
    text-align: center;
}

.topBar {
    color: #3500d3;
    background: #282828;
    grid-area: header;
    width: inherit;
    font-size: 40px;
    padding: .5rem;
}

.bottomBar {
    background: #282828;
    grid-area: footer;
    width: inherit;
    margin-bottom: -.5rem;
    padding: 1rem;
}

#visualizerContainer {
    background: black;
    width: auto;
    height: 100%;
    grid-area: main;
    z-index: 1;
}